Effects	NNS	effect
of	IN	of
parathyroid	JJ	parathyroid
hormone	NN	hormone
and	CC	and
cyclic	JJ	cyclic
AMP	NN	amp
analogues	NNS	analogue
on	IN	on
the	DT	the
activity	NN	activity
of	IN	of
ornithine	NN	ornithine
decarboxylase	NN	<unknown>
and	CC	and
expression	NN	expression
of	IN	of
the	DT	the
differentiated	VVN	differentiate
phenotype	NN	phenotype
of	IN	of
chondrocytes	NNS	<unknown>
in	IN	in
culture	NN	culture
.	SENT	.
Parathyroid	JJ	parathyroid
hormone	NN	hormone
(	(	(
PTH	NP	<unknown>
)	)	)
greatly	RB	greatly
increased	VVN	increase
the	DT	the
level	NN	level
of	IN	of
adenosine	NN	adenosine
3&apos;, 5&apos;	JJ	<unknown>
cyclic	JJ	cyclic
monophosphate	NN	<unknown>
(	(	(
cAMP	NN	camp
)	)	)
in	IN	in
rabbit	NN	rabbit
costal	JJ	costal
chondrocytes	NNS	<unknown>
in	IN	in
culture	NN	culture
2	CD	2
minutes	NNS	minute
after	IN	after
its	PP$	its
addition	NN	addition
.	SENT	.
PTH	NP	<unknown>
,	,	,
as	IN	as
well	RB	well
as	IN	as
N6	NP	<unknown>
O2&apos;	NP	<unknown>
dibutyryl	NN	<unknown>
adenosine	NN	adenosine
3&apos;, 5&apos;	JJ	<unknown>
cyclic	JJ	cyclic
monophosphate	NN	<unknown>
(	(	(
DBcAMP	NP	<unknown>
)	)	)
and	CC	and
8	CD	8
Bromo	NP	<unknown>
adenosine	NN	adenosine
3&apos;	JJ	<unknown>
,	,	,
5&apos;	NP	<unknown>
cyclic	JJ	cyclic
monophosphate	NN	<unknown>
(	(	(
8	CD	8
Br	NN	<unknown>
-	:	-
cAMP	NNS	<unknown>
)	)	)
induced	VVN	induce
ornithine	NN	ornithine
decarboxylase	NN	<unknown>
(	(	(
ODC	NP	<unknown>
;	:	;
L-ornithine	NP	<unknown>
carboxylyase	NN	<unknown>
;	:	;
EC	NP	EC
4.1.1.17	CD	@card@
)	)	)
,	,	,
which	WDT	which
reached	VVD	reach
a	DT	a
maximum	JJ	maximum
4	CD	4
hours	NNS	hour
after	IN	after
their	PP$	their
addition	NN	addition
.	SENT	.
Neither	DT	neither
cAMP	NN	camp
,	,	,
N6	NP	<unknown>
O2&apos;	NP	<unknown>
dibutyryl	NN	<unknown>
guanosine	NN	guanosine
3&apos;, 5&apos;	JJ	<unknown>
cyclic	JJ	cyclic
monophosphate	NN	<unknown>
(	(	(
DBcGMP	NP	<unknown>
)	)	)
,	,	,
nor	CC	nor
sodium	NN	sodium
butyrate	NN	butyrate
increased	VVD	increase
the	DT	the
activity	NN	activity
of	IN	of
the	DT	the
enzyme	NN	enzyme
.	SENT	.
PTH	NP	<unknown>
had	VHD	have
no	DT	no
effect	NN	effect
on	IN	on
DNA	NN	DNA
synthesis	NN	synthesis
,	,	,
while	IN	while
DBcAMP	NP	<unknown>
and	CC	and
8	CD	8
Br	NN	<unknown>
-	:	-
cAMP	NNS	<unknown>
decreased	VVD	decrease
DNA	NN	DNA
synthesis	NN	synthesis
.	SENT	.
Expression	NN	expression
of	IN	of
the	DT	the
differentiated	VVN	differentiate
phenotype	NN	phenotype
of	IN	of
chondrocytes	NNS	<unknown>
in	IN	in
culture	NN	culture
was	VBD	be
also	RB	also
induced	VVN	induce
by	IN	by
PTH	NP	<unknown>
,	,	,
DBcAMP	NP	<unknown>
,	,	,
and	CC	and
8	CD	8
Br	NN	<unknown>
-	:	-
cAMP	NNS	<unknown>
,	,	,
but	CC	but
not	RB	not
by	IN	by
cAMP	NNS	<unknown>
,	,	,
DBcGMP	NP	<unknown>
,	,	,
or	CC	or
sodium	NN	sodium
butyrate	NN	butyrate
,	,	,
as	RB	as
judged	VVN	judge
by	IN	by
morphological	JJ	morphological
change	NN	change
.	SENT	.
Glycosaminoglycan	NP	<unknown>
synthesis	NN	synthesis
,	,	,
a	DT	a
characteristic	NN	characteristic
of	IN	of
the	DT	the
cartilage	NN	cartilage
phenotype	NN	phenotype
,	,	,
began	VVD	begin
to	TO	to
increase	VV	increase
8	CD	8
hours	NNS	hour
after	IN	after
addition	NN	addition
of	IN	of
PTH	NP	<unknown>
or	CC	or
DBcAMP	NP	<unknown>
,	,	,
reaching	VVG	reach
a	DT	a
plateau	NN	plateau
32	CD	@card@
hours	NNS	hour
after	IN	after
their	PP$	their
addition	NN	addition
.	SENT	.
These	DT	these
findings	NNS	finding
suggest	VVP	suggest
that	IN/that	that
PTH	NP	<unknown>
induces	VVZ	induce
increase	NN	increase
of	IN	of
ODC	NP	<unknown>
activity	NN	activity
and	CC	and
expression	NN	expression
of	IN	of
the	DT	the
differentiated	VVN	differentiate
phenotype	NN	phenotype
of	IN	of
chondrocytes	NNS	<unknown>
through	IN	through
increase	NN	increase
of	IN	of
cAMP	NNS	<unknown>
and	CC	and
that	DT	that
induction	NN	induction
of	IN	of
OCD	NN	<unknown>
is	VBZ	be
closely	RB	closely
related	VVN	relate
to	TO	to
expression	NN	expression
of	IN	of
the	DT	the
differentiated	VVN	differentiate
phenotype	NN	phenotype
of	IN	of
chondrocytes	NNS	<unknown>
.	SENT	.
